.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(4px + 1vmin);
  color: white;
}

.App-header-welcome {
	margin-right: 3vmin;
}

.App-header-logout {
	margin-right: 3vmin;
}

.App-link {
  color: #0099cc;
}
